# Modelo de variáveis de ambiente do projeto.
# Copie este arquivo para um chamado `.env` e preencha com os dados reais.

# Banco de Dados
DB_URL=jdbc:mysql://IP_DO_BANCO:3306/NOME_DO_BANCO?useTimezone=true&serverTimezone=UTC
DB_USER=usuario_do_banco
DB_PASSWORD=senha_do_banco
